/* GENERICS */
a{
    text-decoration: none;
    color: #ffff;
}

ul{
    list-style-type: none;
    margin: 0;
}

h3{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
}

.row{
    min-height: 100px;
}

.avatar{
   width: 300px;
}

/******************** MAIN */
/*? HEADER */
header{
    color: #ffff;
}

header .row{
    background-color: #2c3e50;
    min-height: 100px;
}

section{
    margin-bottom: 30px;
}

/* JUMBOTRON */
.start >*{
    padding: 10px;
    color: #ffff;
}

.start .row{
    background-color: #1abc9c;
}

/* GALLERY */
.gallery [class^='col']{
    margin-top: 20px;
}

/* ABOUT */
.about{
    background-color: #1abc9c;
    color: #ffff;
    padding: 20px;
}

.about [class^='col']{
    margin-bottom: 20px;
}

/* CONTACT ME */
.contact-me input{
    padding: 0;
    border-radius: 0;
    border-width: 0 0 1px 0;
}

.form-control:focus{
    box-shadow:none;
    border-color: #2c3e50;
}

/*? FOOTER */
footer{
    background-color: #3a546d;
    color: #ffff;
}

footer [class^='col']{
    margin-top: 30px;
    margin-bottom: 20px;
}

footer .col-12:last-child{
    background-color: #2c3e50;
    margin: 0;
    padding: 30px;
}

footer i{
    margin: 5px;
}