/* GENERICS */
a{
    text-decoration: none;
    color: #ffff;
}

ul{
    list-style-type: none;
    margin: 0;
}

h3{
    margin: 0;
    padding: 0;
}

.row{
    min-height: 100px;
}

.avatar{
   width: 50%;
   
}

/* MAIN */
header{
    color: #ffff;
}

header .row{
    background-color: #2c3e50;
    min-height: 100px;
}

section{
    margin-bottom: 30px;
}

.start >*{
    padding: 10px;
    color: #ffff;
}

.start .row{
    background-color: #1abc9c;
}




